table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 2px solid black;
  text-align: left;
  padding: 8px;
}

tr th {
  background-color: rgb(228, 239, 241);
}

.delete-button {
  cursor: pointer;
}
